.experience {
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
}

.experience h1 {
  padding-top: 20px;
  text-align: center;
}
.experience-sections {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.job-experience {
  border: 2px black solid;
  width: 400px;
  height: 400px;
  margin-right: 30px;
  border-radius: 20px;
  box-shadow: 5px 7px black;
}
.tech-stack {
  border: 2px black solid;
  width: 400px;
  height: 400px;
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 5px 7px black;
}

.job-header {
  width: 200px;
  height: 30px;
  background-color: #4285f4;
  margin: 0 auto;
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: 4px 4px black;
  text-align: center;
  color: white;
  margin-top: 30px;
  padding-top: 10px;
}

.tech-header {
  width: 200px;
  height: 30px;
  background-color: #fbbc04;
  margin: 0 auto;
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: 4px 4px black;
  text-align: center;
  color: white;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.tech-section {
  display: flex;
  flex-direction: row;
}
.tech-bubbles span {
  margin-left: 20px;
  border: 1px solid black;
  padding: 8px;
  width: 50px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.tech-bubbles :nth-child(1) {
  font-weight: bold;
}
.tech-bubbles :nth-child(7) {
  font-weight: bold;
}
.tech-bubbles :nth-child(14) {
  font-weight: bold;
}
.cv-button {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 2px black solid;
  border-radius: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
.columns {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}
.experience-heading {
  margin-bottom: 15px;
}
.column1 {
  display: flex;
  flex-direction: row;
}
.column2 {
  display: flex;
  flex-direction: row;
}
.columns ul {
  text-align: left;
  margin-top: 10px;
}
.year {
  font-size: 10px;
  width: 20%;
  margin-right: 10px;
}
@media screen and (max-width: 430px) {
  .experience {
    width: 100%;
    height: 900px;
  }
  .experience-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .job-experience {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .tech-stack {
    margin: 0 auto;
  }
}
