.joke-section {
  display: flex;
  flex-direction: column;
}

.display-joke,
.loading,
.failed-load {
  margin-top: 50px;
}
@media screen and (min-width: 359px) and (max-width: 429px) {
  .joke-section {
    width: 80%;
  }
}
