.contact {
  height: 400px;
  width: 100%;
  margin: 0;
}

.contact h1 {
  padding-top: 60px;
  text-align: center;
  margin-bottom: 50px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section {
  /* border: 5px solid #efefef;
  box-shadow: 5px 5px 5px lightgray; */
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  width: 30%;
  /* border-radius: 15px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.connect {
  width: 50%;
  text-align: center;
}
.connect button {
  margin-top: 10px;
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: 2px 2px black;
  width: 150px;
  height: 30px;
  background-color: #ea4335;
  color: white;
}
.socials {
  width: 50%;
  text-align: center;
}
.linkedin img {
  width: 30px;
  margin-top: 10px;
}
.git img {
  width: 30px;
  margin-top: 5px;
  margin-left: 10px;
}
@media screen and (max-width: 430px) {
  .contact {
    height: 500px;
  }
  .contact-container {
    width: 100%;
  }
  .contact-section {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .connect {
    width: 55%;
    margin-right: 50px;
  }
}
@media screen and (min-width: 359px) and (max-width: 429px) {
  .contact {
    width: 90%;
    height: 200px;
  }
  .contact h1 {
    font-size: 20px;
  }
  .contact-container {
    width: 100%;
  }
  .contact-container h3 {
    font-size: 10px;
  }
  .contact-section {
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .socials img {
    width: 20px;
  }
}
