.portfolio {
  padding-top: 90px;
  max-width: 100%;
  padding-bottom: 50px;
  margin-bottom: 100px;
}
.portfolio .heading {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
.cards-only {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.current-project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 100px;
}
.sub-heading {
  width: 400px;
  vertical-align: middle;
}
.sub-heading p {
  margin-top: 20px;
}
.current-image img {
  width: 900px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.current-image :hover {
  transform: scale(1.1);
}
@media screen and (max-width: 430px) {
  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards-only {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    justify-content: center;
  }
  .heading {
    padding-top: 400px;
  }
  .current-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
  .current-project h3 {
    text-align: center;
  }
  .current-image img {
    width: 50%;
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 359px) and (max-width: 429px) {
  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .heading {
    padding-top: 200px;
    width: 100%;
    font-size: 10px;
  }
  .current-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 5px;
  }
  .sub-heading {
    width: 90%;
  }
  .current-project h3 {
    text-align: left;
    width: 90%;
  }
  .current-project p {
    width: 90%;
    font-size: 13px;
  }
  .current-image img {
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
