.card img {
  width: 400px;
  /* border: 1px solid white; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
  height: 300px;
}
.card p {
  max-width: 400px;
  margin-top: 20px;
}
.card h3 {
  margin-top: 20px;
}
.card img:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media screen and (max-width: 430px) {
  .card {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card p {
    /* margin-bottom: 50px; */
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .card h3 {
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .card img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 359px) and (max-width: 429px) {
  .card {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card img {
    width: 80%;
  }
  .card p {
    width: 80%;
    font-size: 13px;
    text-align: left;
    margin-left: 0;
  }
  .card h3 {
    font-size: 20px;
    text-align: left;
  }
}
